.UserNav {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 20px;
    margin: 0;
    font-size: 18px;
}

.UserNav-item {
    display: block;
    padding: 2px 4px 3px 2px;
    margin: 0 2px;
}